<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- Link to the CSS files -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/style.tablet.css" media="(max-width: 1024px)">
    <link rel="stylesheet" href="/stylesheets/style.mobile.css" media="(max-width: 768px)">
</head>
<body>
    <!-- Header section with navigation links -->
    <header>
        <nav>
          <!-- Navigation link to the Home page -->
          <a href="/">Home</a>
          <!-- Navigation link to the About page -->
          <a href="/about">About</a>
          <!-- Navigation link to the Projects page -->
          <a href="/projects">Projects</a>
          <!-- Navigation link to the Contact page -->
          <a href="/contact">Contact</a>
        </nav>
    </header>

    <main>
        <%- body %> 
    </main>

    <!-- Footer Section -->
    <footer>
        <p>Thank You For Visiting My Webpage</p>
        <p>Email: vinosha.srikugananthan@ontariotechu.net</p>
        <!-- Link to the GitHub profile, opens in a new tab -->
        <a href="https://github.com/Vinosha-Sri" target="_blank" rel="noopener noreferrer">GitHub</a>
        <!-- Link to the LinkedIn profile, opens in a new tab -->
        <a href="https://linkedin.com/in/Vinosha-Srikugananthan" target="_blank" rel="noopener noreferrer">LinkedIn</a>
    </footer>
</body>
</html>
